<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.BoardMapper">

    <select id="category" resultType="com.football.fcbayern.model.BoardCategoryModel">
        select boardCategoryNo, categoryNm, createDt, updateDt, state, notice
        from boardCategory;
    </select>

    <insert id="insertInfo">
        insert into board (title, content, createDt, updateDt, state, userNo, boardCategoryNo)
        VALUES (#{title}, #{content}, now(), now(), 1, #{userNo}, #{boardCategoryNo})
    </insert>

    <select id="infoList" resultType="com.football.fcbayern.model.BoardModel">
        select boardNo, title, createDt, updateDt, hit, userNo, boardCategoryNo
        from board
        where state = 1
          and boardCategoryNo = #{boardCategoryNo}
        order by createDt desc
    </select>

    <select id="info" resultType="com.football.fcbayern.model.BoardModel">
        select boardNo,
               title,
               content,
               createDt,
               updateDt,
               state,
               hit,
               userNo,
               boardCategoryNo
        from board
        where boardNo = #{boardNo}
    </select>
</mapper>