<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.BoardAttachMapper">

    <insert id="insertInfo">
        insert into attach(uuid, uploadPath, state, boardNo)
        VALUES (#{uuid}, #{uploadPath}, 1, LAST_INSERT_ID())
    </insert>

</mapper>