<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.BoardMapper">

    <select id="category" resultType="com.football.fcbayern.model.BoardCategoryModel">
        select boardCategoryNo, categoryNm, createDt, updateDt, state, notice
        from boardCategory;
    </select>

    <insert id="insertInfo">
        insert into board (title, content, createDt, updateDt, state, userNo, boardCategoryNo)
        VALUES (#{title}, #{content}, now(), now(), 1, #{userNo}, #{boardCategoryNo})
    </insert>

    <select id="infoList" resultType="com.football.fcbayern.model.BoardModel">
        select boardNo, title, content, writer, createDt, updateDt, hit, userNo, boardCategoryNo
        from board
        where state = 1
        and boardCategoryNo = #{boardCategoryNo}
        <include refid="criteria"/>
        order by createDt desc
        limit #{pageStart}, #{amount}
        # amount 10 으로 고정 지정
    </select>

    <!--    <select id="infoList"-->
    <!--            resultType="com.football.fcbayern.model.BoardModel">-->
    <!--        select boardNo, title, content, createDt, updateDt, hit, userNo, boardCategoryNo-->
    <!--        from board-->
    <!--        where state = 1-->
    <!--        and boardCategoryNo = #{boardCategoryNo}-->
    <!--        <include refid="criteria"/>-->
    <!--        order by createDt desc-->
    <!--        limit #{pageStart}, #{amount}-->
    <!--    </select>-->

    <select id="info" resultType="com.football.fcbayern.model.BoardModel">
        select boardNo,
               title,
               content,
               createDt,
               updateDt,
               state,
               hit,
               userNo,
               boardCategoryNo
        from board
        where boardNo = #{boardNo}
    </select>

    <update id="hit">
        update board
        set hit = hit + 1
        where boardNo = #{boardNo}
    </update>

    <update id="replyCnt">
        update board
        set replyCnt = replyCnt + 1
        where boardNo = #{boardNo}
    </update>


    <update id="modify">
        update board
        set title = #{title} and content = #{cotent} and updateDt = now() and boardCategoryNo = #{boardCategoryNo}
        where boardNo = #{boardNo}
    </update>

    <update id="delete">
        update board
        set state = 0
        where boardNo = #{boardNo}
    </update>

    <sql id="criteria">
        <if test="type != null">
            <if test="type == 't'.toString()">
                and title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="type == 'c'.toString()">
                and content like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="type == 'w'.toString()">
                and userNo like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="type == 'tc'.toString()">
                and ( title like CONCAT('%', #{keyword}, '%') OR
                content
                like
                CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="type == 'tw'.toString()">
                and ( userNo like CONCAT('%', #{keyword}, '%') OR
                content
                like
                CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="type == 'twc'.toString()">
                and ( title like CONCAT('%', #{keyword}, '%') OR
                userNo
                like
                CONCAT('%', #{keyword}, '%')OR content
                like
                CONCAT('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>

    <select id="totalCnt" resultType="int">
        select count(*) from board where boardNo > 0
        <include refid="criteria"/>
    </select>
</mapper>