<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.GoodMapper">

    <select id="check" resultType="int">
        select count(goodNo)
        from good
        where boardNo = #{boardNo}
          and userNo = #{userNo}
    </select>

    <insert id="insertGood">
        insert into good (boardNo, userNo, state)
        VALUES (#{boardNo}, #{userNo}, 1)
    </insert>

    <insert id="insertBad">
        insert into good (boardNo, userNo, state)
        VALUES (#{boardNo}, #{userNo}, 0)
    </insert>

</mapper>