<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.HonoursAttachMapper">

    <insert id="insertAttachInfo">
        insert into honoursAttach (uuid, uploadPath, state, honoursNo)
        VALUES (#{uuid}, #{uploadPath}, 1, LAST_INSERT_ID())
    </insert>

    <select id="getAttachList" resultType="com.football.fcbayern.model.ProfileAttachModel">
        select uuid, uploadPath, state, honoursNo
        from honoursAttach
    </select>

</mapper>