<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.ProfileMapper">

    <insert id="insert">
    insert into profile (profileNm, backNo, birthDate, state, createDt, updateDt, userNo) VALUES (#{profileNm}, #{backNo}, #{birthDate}, 1, now(), now(), 1)
    </insert>

    <select id="category" resultType="com.football.fcbayern.model.ProfileCategoryModel">
        select profileCategoryNo, categoryNm from profileCategory
    </select>

</mapper>