<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.football.fcbayern.mapper.UserMapper">

    <insert id="signUp">
        insert into user (userId, userPw, userNm, email, createDt, updateDt, state, authNo)
            # 기본적으로 일반회원 3으로 하고 추가적으로 정보수정하도록 하기 위해서
        values (#{userId}, #{userPw}, #{userNm}, #{email}, now(), now(), 1, 3)
    </insert>

    <select id="findByUserId" resultType="com.football.fcbayern.model.UserModel">
        select userNo, userId, userPw, userNm, email, auth.authNo, auth.authNm
        from user,
             auth
        where userId = #{userId}
          and user.state = 1
          and auth.authNo = user.authNo
    </select>

    <select id="getPoint" resultType="int">
        select point
        from user
        where state = 1
          and userNo = #{userNo}
    </select>

</mapper>